USE [food]
GO
/****** Object:  Table [dbo].[DATA]    Script Date: 10/16/2020 11:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATA](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FNAME] [varchar](50) NOT NULL,
	[MNAME] [varchar](50) NOT NULL,
	[LNAME] [varchar](50) NOT NULL,
	[PHONENUMBER] [nvarchar](10) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
